/devicehive-demo.sln
/devicehive-demo.v12.suo
/device/device.njsproj
/device/*.dat
/device/node_modules
/device/obj
/bridge/.ntvs_analysis.dat
/bridge/node_modules
/bridge/obj
/bridge/bridge.njsproj
/bridge/bin
/device/bin
